body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: rgb(191, 208, 236);
}

#project {
  background-color: rgb(191, 208, 236);
}
section {
  padding-top: 6rem;
}
 /* Efek kursor berkedip */
.typing-cursor {
    display: inline-block;
    width: 3px;
    height: 1.2em;
    background-color: black;
    animation: blink 0.7s steps(1) infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  } 